/* Add some padding on document's body to prevent the content
    to go underneath the header and footer
    Author is "Ashif Zafar"  */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        height: auto;
        position: fixed;        
        background: rgb(71, 73, 70);
        padding: 10px 0;
        color: rgb(241, 235, 235);       
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
    .containerBody{
    background: url(/src/images/gallery-in-a-page.jpg); /** Background image - change it here !**/
    backface-visibility: visible;

    }